*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about-me{
   color: rgba(139, 137, 137, 0.75);
   font-family: "Cinzel", serif !important;
  font-size: 7.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(82, 80, 80, 0.75) !important;
  position: absolute;
  left: 28%;
  top: 5%;
}

.about-me-text{
  color: #fff;
  font-size: 1.7rem;
  font-family: 'Poppins'; 
  height: 30vh;
  width: 60vw;
  position: absolute;
  top: 27%;
  left: 20%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  /* background-color: red; */
} 
.about-me-text span{
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgba(109, 109, 109, 0.75);
  
}

.tech-icons{
  /* background-color: blue; */
  position: relative;
  top:20%;
  height: 30vh;
  width: 60vw;
}

.tech-icons #express{
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-right: 30px;
  margin-left: 140px;

}

.tech-icons #git{
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-right: 30px;
}

.tech-icons #next{
  height: 120px;
  width: 120px;
  object-fit: contain;
  margin-right: 30px;
}

.tech-icons #reactimg{
  height: 98px;
  width: 98px;
  object-fit: contain;
  margin-right: 30px;
}
.tech-icons #mongo{
  height: 84px;
  width: 84px;
  object-fit: contain;
  margin-right: 30px;
}



/* ===========================
   TABLET (max-width: 1024px)
   =========================== */
@media (max-width: 1024px) {

  .about-me {
    font-size: 5.5rem;
    left: 18%;
    top: 6%;
  }

  .about-me-text {
    width: 75vw;
    left: 12.5%;
    font-size: 1.5rem;
    top: 28%;
  }

  .tech-icons {
    width: 80vw;
    top: 22%;
  }

  .tech-icons img {
    margin-left: 0 !important;
  }
}


/* ===========================
   MOBILE (max-width: 768px)
   =========================== */
@media (max-width: 768px) {

  .about-me {
    position: relative;
    font-size: 3.2rem;
    left: 0;
    top: 0;
    text-align: center;
    margin-top: 40px;
  }

  .about-me-text {
    position: relative;
    width: 90vw;
    height: auto;
    left: 0;
    top: 0;
    margin: 24px auto;
    font-size: 1.2rem;
    text-align: left;
  }

  .tech-icons {
    position: relative;
    width: 90vw;
    height: auto;
    top: 0;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .tech-icons img {
    margin: 0 !important;
  }
}


/* ===========================
   SMALL MOBILE (max-width: 480px)
   =========================== */
@media (max-width: 480px) {

  .about-me {
    font-size: 2.4rem;
    letter-spacing: 0.5px;
  }

  .about-me-text {
    font-size: 1.05rem;
    line-height: 1.7;
  }

  .tech-icons img {
    width: 70px !important;
    height: 70px !important;
  }
}