@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.project-title h1{
  color: rgba(82, 80, 80, 0.75) !important;
  font-size: 7rem;
  font-weight: 500;
  font-family: "Cinzel", serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  left: 31%;
  top: 5%;
}
