*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #272727;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.18) 1px,
    transparent 1px
  );

  background-size: 22px 22px;
}


